* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
  scroll-behavior: smooth;
}

body {
  background-color: #efb301;
}

#logo {
  color: #fff;
}

#nav {
  background-color: rgb(162, 7, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
}

#nav-link {
  list-style: none;
  display: flex;
  gap: 25px;
  font-weight: bold;
}

#nav-link a {
  color: #fff;
  text-decoration: none;
}

#nav-link li:hover {
  font-size: 1.2rem;
  transition: all;
  transition-duration: 0.3s;
}

#search-bar {
  padding: 5px;
  font-size: large;
  border: none;
  border-radius: 5px;
}

#hero {
  background-color: #efb301;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-title {
  width: 50%;
}
#hero-title h1 {
  font-size: 5rem;
  line-height: 1;
}

#hero-title p {
  font-size: 1.5rem;
}

#hero-img {
  width: 50%;
}

#hero-img img {
  border-radius: 10px;
  width: 100%;
}

#about {
  padding: 0 5%;
  background-color: #efb301;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#about-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-img img {
  width: 100%;
  border-radius: 10px;
}

#about-description {
  width: 50%;
}

#about-description p {
  font-size: 1.5rem;
  margin-top: 30px;
}
#categories-container {
  background-color: #efb301;
}

#categories-container h1 {
  padding: 3% 5%;
}

#categories {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 5%;
  gap: 10px;
}

#categories .card .btn {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 3px;
  padding: 10px;
  border: 5px solid white;
}

.card:hover {
  background-color: #fffefe;
}

.card img {
  width: 100%;
}

.card h2 {
  padding: 10px 0px;
}

#meals {
  padding: 0 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.meal-card {
  margin: 25px 10px;
  box-shadow: 1px 1px 15px;
  padding: 10px;
  height: 370px;
}

.meal-card img {
  width: 100%;
}

.meal-card h2 {
  text-overflow: ellipsis;
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.btn {
  padding: 10px;
  background-color: #efb301;
  border: none;
  border-radius: 5px;
}

#contact {
  background-color: rgb(87, 87, 152);
  padding: 2% 1% 2%;
  margin: 5% 5% 0;
}
